@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;   
}

.caligraphy{
    font-family: "Dancing Script", cursive;
}
.typewriter{
    @apply relative w-[max-content] font-mono
    before:absolute before:inset-0 before:bg-white
    before:animate-typewriter;
}